*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  #input{
   width: 420px ; 
   height: 60px;
   border-radius: 6px;
   box-shadow: 1px 1px 25px rgb(146, 146, 146);
  display: block;
  margin: auto;
  margin-top: 200px;
  text-align: center;
 font-weight:bolder ;
  }
  
  .counter{
      font-size: 50px;
      font-weight: bolder;
      text-align: center;
      margin-top: 40px;
  }
  .control{
  text-align: center;
  margin: 15px;
  padding: 15px;
  
  }
  #start:hover , #stop:hover ,#reset:hover{
      box-shadow: 1px 1px 25px rgb(146, 146, 146);
  }